.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px #007F97,
1px 0px #000000,
2px 0px #BF7727,
3px 0px #DFAF67,
4px 0px #FFE79F,
5px 0px #A70017,
6px 0px #FF001F,
7px 0px #FF87AF,
8px 0px #0067B7,
9px 0px #1F9FE7,
10px 0px #8FDFFF,
11px 0px #7F8F97,
12px 0px #9FAFB7,
13px 0px #BFC7CF,
14px 0px #DFE7E7,
15px 0px #FFFFFF,
0px 1px #007F97,
1px 1px #000000,
2px 1px #BF7727,
3px 1px #DFAF67,
4px 1px #FFE79F,
5px 1px #C757C7,
6px 1px #FF8FFF,
7px 1px #FFCFFF,
8px 1px #773F00,
9px 1px #A75F1F,
10px 1px #DF771F,
11px 1px #278700,
12px 1px #5FB727,
13px 1px #7FDF57,
14px 1px #B7FF8F,
15px 1px #FFFFFF,
0px 2px #007F97,
1px 2px #000000,
2px 2px #572F9F,
3px 2px #8F67BF,
4px 2px #B797DF,
5px 2px #CF9700,
6px 2px #F7E700,
7px 2px #FFFFA7,
8px 2px #373F8F,
9px 2px #4F5F97,
10px 2px #6787AF,
11px 2px #47676F,
12px 2px #7F8F97,
13px 2px #AFB7BF,
14px 2px #D7DFDF,
15px 2px #FFFFFF,
0px 3px #007F97,
1px 3px #000000,
2px 3px #9F0000,
3px 3px #D73F00,
4px 3px #FF875F,
5px 3px #008787,
6px 3px #37BFF7,
7px 3px #77FFFF,
8px 3px #9F5F00,
9px 3px #CF9F00,
10px 3px #FFF700,
11px 3px #278700,
12px 3px #5FB727,
13px 3px #7FDF57,
14px 3px #D7EFA7,
15px 3px #FFFFFF,
0px 4px #007F97,
1px 4px #000000,
2px 4px #0057C7,
3px 4px #008FFF,
4px 4px #3FCFFF,
5px 4px #0057C7,
6px 4px #008FFF,
7px 4px #3FCFFF,
8px 4px #E73F67,
9px 4px #FF8FAF,
10px 4px #FFC7D7,
11px 4px #9F0000,
12px 4px #D73F00,
13px 4px #FF875F,
14px 4px #FFC7AF,
15px 4px #FFFFFF,
0px 5px #007F97,
1px 5px #000000,
2px 5px #006F07,
3px 5px #00A73F,
4px 5px #3FE77F,
5px 5px #17A757,
6px 5px #4FDF8F,
7px 5px #8FFFCF,
8px 5px #5767B7,
9px 5px #879FFF,
10px 5px #B7CFFF,
11px 5px #773F00,
12px 5px #A76F00,
13px 5px #DFB700,
14px 5px #FFF700,
15px 5px #FFFFFF,
0px 6px #007F97,
1px 6px #000000,
2px 6px #9F5F00,
3px 6px #CF9F00,
4px 6px #FFF700,
5px 6px #00AF00,
6px 6px #00FF00,
7px 6px #7FFF7F,
8px 6px #9F0000,
9px 6px #D73F00,
10px 6px #FF875F,
11px 6px #003FAF,
12px 6px #2787D7,
13px 6px #47C7FF,
14px 6px #A7EFFF,
15px 6px #FFFFFF,
0px 7px #007F97,
1px 7px #000000,
2px 7px #57009F,
3px 7px #8F00D7,
4px 7px #DF4FFF,
5px 7px #BF5700,
6px 7px #FF9700,
7px 7px #FFCF37,
8px 7px #873F87,
9px 7px #AF6FB7,
10px 7px #D797DF,
11px 7px #275FC7,
12px 7px #57A7E7,
13px 7px #7FE7FF,
14px 7px #B7FFFF,
15px 7px #FFFFFF,
0px 8px #007F97,
1px 8px #000000,
2px 8px #0057C7,
3px 8px #008FFF,
4px 8px #3FCFFF,
5px 8px #67B700,
6px 8px #AFFF00,
7px 8px #F7FF77,
8px 8px #BF7727,
9px 8px #DFAF67,
10px 8px #FFE79F,
11px 8px #57009F,
12px 8px #8F00D7,
13px 8px #B74FFF,
14px 8px #CFA7FF,
15px 8px #FFFFFF,
0px 9px #007F97,
1px 9px #000000,
2px 9px #008787,
3px 9px #37BFF7,
4px 9px #77FFFF,
5px 9px #006F07,
6px 9px #00A73F,
7px 9px #3FE77F,
8px 9px #773F00,
9px 9px #DF771F,
10px 9px #FF9747,
11px 9px #BF8F00,
12px 9px #DFC700,
13px 9px #FFF700,
14px 9px #FFFF7F,
15px 9px #FFFFFF,
0px 10px #007F97,
1px 10px #000000,
2px 10px #9F0000,
3px 10px #D73F00,
4px 10px #FF875F,
5px 10px #4F5F6F,
6px 10px #67879F,
7px 10px #B7C7CF,
8px 10px #278700,
9px 10px #5FC737,
10px 10px #8FFF67,
11px 10px #072F47,
12px 10px #4F6F7F,
13px 10px #97AFB7,
14px 10px #DFEFEF,
15px 10px #FFFFFF,
0px 11px #007F97,
1px 11px #000000,
2px 11px #9F5F00,
3px 11px #CF9F00,
4px 11px #FFF700,
5px 11px #871700,
6px 11px #BF4F00,
7px 11px #FF8F3F,
8px 11px #7F8F97,
9px 11px #AFB7BF,
10px 11px #D7DFDF,
11px 11px #000000,
12px 11px #272F2F,
13px 11px #4F5757,
14px 11px #8F978F,
15px 11px #FFFFFF,
0px 12px #007F97,
1px 12px #000000,
2px 12px #0057C7,
3px 12px #008FFF,
4px 12px #3FCFFF,
5px 12px #00008F,
6px 12px #0000C7,
7px 12px #7777FF,
8px 12px #5FA7E7,
9px 12px #8FDFFF,
10px 12px #C7EFFF,
11px 12px #5F2F00,
12px 12px #97570F,
13px 12px #C7771F,
14px 12px #E7BF8F,
15px 12px #FFFFFF,
0px 13px #007F97,
1px 13px #000000,
2px 13px #E73F67,
3px 13px #FF8FAF,
4px 13px #FFC7D7,
5px 13px #57009F,
6px 13px #8F00D7,
7px 13px #DF4FFF,
8px 13px #D7A700,
9px 13px #E7C700,
10px 13px #FFF700,
11px 13px #8F00D7,
12px 13px #B74FFF,
13px 13px #CFA7FF,
14px 13px #E7D7FF,
15px 13px #FFFFFF,
0px 14px #007F97,
1px 14px #000000,
2px 14px #57009F,
3px 14px #8F00D7,
4px 14px #DF4FFF,
5px 14px #9F00B7,
6px 14px #D700EF,
7px 14px #FF7FFF,
8px 14px #BF5700,
9px 14px #FF9700,
10px 14px #FFCF37,
11px 14px #278FDF,
12px 14px #47C7FF,
13px 14px #7FE7FF,
14px 14px #B7FFFF,
15px 14px #FFFFFF,
0px 15px #007F97,
1px 15px #000000,
2px 15px #278700,
3px 15px #5FC737,
4px 15px #8FFF67,
5px 15px #A7003F,
6px 15px #FF0097,
7px 15px #FF7FFF,
8px 15px #AFB7BF,
9px 15px #D7DFDF,
10px 15px #FFFFFF,
11px 15px #AF3F00,
12px 15px #D77F00,
13px 15px #FFB700,
14px 15px #FFDF7F,
15px 15px #FFFFFF;
}
