.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px #930001,
1px 0px #FE9697,
2px 0px #D1A6A9,
3px 0px #FC0015,
4px 0px #A20010,
5px 0px #F75566,
6px 0px #F9C6CE,
7px 0px #FF0033,
8px 0px #E1254C,
9px 0px #E21C4B,
10px 0px #DA2F58,
11px 0px #E73963,
12px 0px #A5002B,
13px 0px #97022E,
14px 0px #FF759C,
15px 0px #FFB8CD,
0px 1px #CE3465,
1px 1px #F683A8,
2px 1px #A23A74,
3px 1px #FF0091,
4px 1px #481030,
5px 1px #C252BC,
6px 1px #FF69FF,
7px 1px #7B337B,
8px 1px #CC66CC,
9px 1px #FD93FD,
10px 1px #FECBFE,
11px 1px #EAB1EE,
12px 1px #9C54A5,
13px 1px #D434EF,
14px 1px #D000F5,
15px 1px #A30CC0,
0px 2px #C88ED8,
1px 2px #A066B2,
2px 2px #C263EC,
3px 2px #7F01CF,
4px 2px #A443EC,
5px 2px #56009A,
6px 2px #CDA1F4,
7px 2px #3C0089,
8px 2px #BF94FD,
9px 2px #E0CFFF,
10px 2px #0000C6,
11px 2px #0000B9,
12px 2px #000086,
13px 2px #000078,
14px 2px #333389,
15px 2px #6464FE,
0px 3px #A0A0A4,
1px 3px #707073,
2px 3px #4758AD,
3px 3px #5162B3,
4px 3px #8198F4,
5px 3px #3F4F8A,
6px 3px #485890,
7px 3px #00259C,
8px 3px #013AAF,
9px 3px #3366CC,
10px 3px #B1C9F2,
11px 3px #0053B8,
12px 3px #5F7FA8,
13px 3px #086ACC,
14px 3px #99CCFF,
15px 3px #485868,
0px 4px #A4ADB6,
1px 4px #A8B1BA,
2px 4px #0083FA,
3px 4px #4293E1,
4px 4px #5EA0DE,
5px 4px #0061B1,
6px 4px #1E82D6,
7px 4px #00192D,
8px 4px #608098,
9px 4px #99A6B0,
10px 4px #0099FF,
11px 4px #B3BFC7,
12px 4px #C3CBD0,
13px 4px #1899E1,
14px 4px #1495D9,
15px 4px #1FAEF5,
0px 5px #84D6FF,
1px 5px #345464,
2px 5px #477085,
3px 5px #788890,
4px 5px #2DB8FA,
5px 5px #76D4FE,
6px 5px #C4E9FA,
7px 5px #70828A,
8px 5px #7B8C94,
9px 5px #42C5FE,
10px 5px #88D8F8,
11px 5px #B9EBFF,
12px 5px #657880,
13px 5px #2FC7FD,
14px 5px #829CA5,
15px 5px #80DBF6,
0px 6px #88D8F0,
1px 6px #65E1FF,
2px 6px #62A9BB,
3px 6px #007890,
4px 6px #93EBFF,
5px 6px #A3ECFC,
6px 6px #365052,
7px 6px #008484,
8px 6px #007271,
9px 6px #61FEFE,
10px 6px #A5FFFF,
11px 6px #588888,
12px 6px #669999,
13px 6px #B3FAFA,
14px 6px #B2E2E2,
15px 6px #010101,
0px 7px #CCFFFF,
1px 7px #D6EBEB,
2px 7px #D9E8E8,
3px 7px #353838,
4px 7px #D6E1E1,
5px 7px #CCD6D6,
6px 7px #ECF6F6,
7px 7px #D8E0E0,
8px 7px #D0D8D8,
9px 7px #949999,
10px 7px #535555,
11px 7px #4C746C,
12px 7px #58B8A0,
13px 7px #B8F0E0,
14px 7px #009966,
15px 7px #33CC99,
0px 8px #99FFCC,
1px 8px #00A439,
2px 8px #37DD73,
3px 8px #009933,
4px 8px #00FF00,
5px 8px #00AD00,
6px 8px #009A00,
7px 8px #006900,
8px 8px #68FF67,
9px 8px #788078,
10px 8px #868786,
11px 8px #136F00,
12px 8px #449933,
13px 8px #1A7A00,
14px 8px #218400,
15px 8px #208000,
0px 9px #78FD4D,
1px 9px #53C02B,
2px 9px #7ADB51,
3px 9px #8BF75F,
4px 9px #339900,
5px 9px #46AE14,
6px 9px #66CE35,
7px 9px #B2FA89,
8px 9px #59B321,
9px 9px #66CC00,
10px 9px #9AFF00,
11px 9px #CEEC97,
12px 9px #D4ECA3,
13px 9px #7A8700,
14px 9px #D2DF57,
15px 9px #F5FF5C,
0px 10px #FFFF00,
1px 10px #FDFD73,
2px 10px #FFFF96,
3px 10px #F8F8F0,
4px 10px #FFF600,
5px 10px #F8F000,
6px 10px #F6ED00,
7px 10px #F0E800,
8px 10px #F8F008,
9px 10px #F3E100,
10px 10px #FBF4A7,
11px 10px #DAC700,
12px 10px #DEB500,
13px 10px #D7B001,
14px 10px #D0B860,
15px 10px #FAE59A,
0px 11px #CE9C00,
1px 11px #C89800,
2px 11px #D8A502,
3px 11px #FFC613,
4px 11px #FDCB32,
5px 11px #CC9900,
6px 11px #BC8C00,
7px 11px #F8B000,
8px 11px #CB9200,
9px 11px #C38500,
10px 11px #A88840,
11px 11px #FBCF6D,
12px 11px #F3D797,
13px 11px #875A00,
14px 11px #F6B93F,
15px 11px #907030,
0px 12px #786030,
1px 12px #A56B00,
2px 12px #A06800,
3px 12px #9A6500,
4px 12px #553300,
5px 12px #DAA558,
6px 12px #D8A860,
7px 12px #DEAD63,
8px 12px #965601,
9px 12px #FE8B00,
10px 12px #D57903,
11px 12px #E3BA8A,
12px 12px #C17118,
13px 12px #BC7421,
14px 12px #B87020,
15px 12px #CC6600,
0px 13px #884400,
1px 13px #733900,
2px 13px #703800,
3px 13px #663300,
4px 13px #B6681A,
5px 13px #FF9933,
6px 13px #E1AE78,
7px 13px #BFBEBD,
8px 13px #A05818,
9px 13px #682F00,
10px 13px #BA5502,
11px 13px #803C02,
12px 13px #DE7318,
13px 13px #D87018,
14px 13px #A55A18,
15px 13px #F28E3D,
0px 14px #DA6812,
1px 14px #9C4F12,
2px 14px #5C2500,
3px 14px #93430C,
4px 14px #D65C0C,
5px 14px #431900,
6px 14px #A93900,
7px 14px #FA8D62,
8px 14px #FABDA4,
9px 14px #D63900,
10px 14px #D03800,
11px 14px #CC3300,
12px 14px #F8784D,
13px 14px #F68159,
14px 14px #D12F00,
15px 14px #CC2500,
0px 15px #990000,
1px 15px #850000,
2px 15px #F83838,
3px 15px #E4E3E3,
4px 15px #FEFEFE,
5px 15px #F8F8F8,
6px 15px #F6F6F6,
7px 15px #F0F0F0,
8px 15px #D8D8D8,
9px 15px #D7D7D7,
10px 15px #B2B2B2,
11px 15px #080808,
12px 15px #060606,
13px 15px #040404,
14px 15px #020202,
15px 15px rgba(255, 255, 255, 0);
}
