.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px #F27176,
1px 0px #D46F74,
2px 0px #510F14,
3px 0px #D68E98,
4px 0px #9B1126,
5px 0px #AE717C,
6px 0px #D13452,
7px 0px #B53759,
8px 0px #E95580,
9px 0px #B64D6F,
10px 0px #F191B2,
11px 0px #F573A9,
12px 0px #D04F8D,
13px 0px #F2B0D1,
14px 0px #F793D5,
15px 0px #382833,
0px 1px #894375,
1px 1px #C375AC,
2px 1px #CD1AA3,
3px 1px #B63FA0,
4px 1px #D2B7CD,
5px 1px #D193C7,
6px 1px #F694EA,
7px 1px #E941D8,
8px 1px #EE69E2,
9px 1px #886386,
10px 1px #F4B3F0,
11px 1px #F4CDF2,
12px 1px #A361A2,
13px 1px #6F576F,
14px 1px #F8E8F8,
15px 1px #595859,
0px 2px #6C366D,
1px 2px #5C485D,
2px 2px #BEA8C0,
3px 2px #9E83A2,
4px 2px #BD44DC,
5px 2px #845098,
6px 2px #AC95B6,
7px 2px #B27DCD,
8px 2px #CC8CF3,
9px 2px #D0AFF5,
10px 2px #9C6EDE,
11px 2px #280858,
12px 2px #5D3898,
13px 2px #DAD8DD,
14px 2px #7655BD,
15px 2px #B295F2,
0px 3px #5D3BDF,
1px 3px #362C6F,
2px 3px #8D87BD,
3px 3px #5A558E,
4px 3px #B6B3D9,
5px 3px #958FF5,
6px 3px #D1CEF8,
7px 3px #6E6BAD,
8px 3px #44445F,
9px 3px #787893,
10px 3px #68687B,
11px 3px #A8A8C2,
12px 3px #C8C8DE,
13px 3px #E8E8F8,
14px 3px #B8B8BB,
15px 3px #98989A,
0px 4px #494DB7,
1px 4px #9798C5,
2px 4px #616CDF,
3px 4px #AAB5F2,
4px 4px #243993,
5px 4px #3C4C7D,
6px 4px #81889E,
7px 4px #6C95EE,
8px 4px #182030,
9px 4px #6886C3,
10px 4px #0E51D0,
11px 4px #8EB2F4,
12px 4px #4790F3,
13px 4px #2576DC,
14px 4px #90ABCC,
15px 4px #4074B0,
0px 5px #7F98B3,
1px 5px #B0CFF2,
2px 5px #71B1F0,
3px 5px #2A3E53,
4px 5px #496B8C,
5px 5px #D8E8F8,
6px 5px #236298,
7px 5px #4391CB,
8px 5px #52ABF2,
9px 5px #93CFF0,
10px 5px #C8E8F8,
11px 5px #B4C8D1,
12px 5px #22A8D9,
13px 5px #71B5C9,
14px 5px #91A9B0,
15px 5px #4EB4CD,
0px 6px #61D4F2,
1px 6px #5D787F,
2px 6px #C0D8DD,
3px 6px #5D9CA7,
4px 6px #65898E,
5px 6px #47585A,
6px 6px #B0ECF2,
7px 6px #53686A,
8px 6px #23D3E0,
9px 6px #179396,
10px 6px #82D6DA,
11px 6px #95F3F6,
12px 6px #A0BDBE,
13px 6px #C3F8F8,
14px 6px #D8F8F8,
15px 6px #D8E8E8,
0px 7px #E8F8F8,
1px 7px #474848,
2px 7px #2D6E67,
3px 7px #C8E8E4,
4px 7px #28BA98,
5px 7px #3C8C79,
6px 7px #858887,
7px 7px #839890,
8px 7px #7DA994,
9px 7px #C6F8E0,
10px 7px #8EEFBB,
11px 7px #11502E,
12px 7px #5B7867,
13px 7px #3FB36B,
14px 7px #75DE9E,
15px 7px #B3EDC8,
0px 8px #638E70,
1px 8px #D8F8E2,
2px 8px #2FA251,
3px 8px #426D4C,
4px 8px #47CB53,
5px 8px #6CBB71,
6px 8px #3F5841,
7px 8px #C6D8C6,
8px 8px #E8F8E8,
9px 8px #6AE167,
10px 8px #A5BFA4,
11px 8px #2C5429,
12px 8px #95F28E,
13px 8px #30C523,
14px 8px #4E9047,
15px 8px #34A425,
0px 9px #55AB4B,
1px 9px #337626,
2px 9px #CEF0C8,
3px 9px #AAE09B,
4px 9px #6DC427,
5px 9px #7AB64C,
6px 9px #91B773,
7px 9px #629A2E,
8px 9px #6E904E,
9px 9px #CFF2AF,
10px 9px #9BD75B,
11px 9px #AFE974,
12px 9px #C6C8C4,
13px 9px #91ED20,
14px 9px #CBF38A,
15px 9px #8FC134,
0px 10px #C7F44C,
1px 10px #B8BBA6,
2px 10px #F5F8D8,
3px 10px #CACA3D,
4px 10px #989884,
5px 10px #D8D8C2,
6px 10px #F8F8F1,
7px 10px #E8E8E6,
8px 10px #A8A8A7,
9px 10px #6E6D33,
10px 10px #EEEB79,
11px 10px #F2F0B0,
12px 10px #A7A00B,
13px 10px #F6ED33,
14px 10px #F5ED62,
15px 10px #B0AC4A,
0px 11px #D6D169,
1px 11px #F6EF91,
2px 11px #5D5A3A,
3px 11px #F4F1C8,
4px 11px #938B3C,
5px 11px #D3CD8F,
6px 11px #EBD10E,
7px 11px #958F63,
8px 11px #D0B30F,
9px 11px #CCB232,
10px 11px #AD982D,
11px 11px #D6CFAE,
12px 11px #8F7610,
13px 11px #F2CE34,
14px 11px #F3D24F,
15px 11px #BAAB6E,
0px 12px #D0B14E,
1px 12px #ECB30B,
2px 12px #4C3E16,
3px 12px #F4D26F,
4px 12px #ECB42D,
5px 12px #69521A,
6px 12px #88784E,
7px 12px #D6B670,
8px 12px #B7AB90,
9px 12px #CD8D10,
10px 12px #F0CF90,
11px 12px #CD9432,
12px 12px #8F6C31,
13px 12px #D1B88D,
14px 12px #EC930F,
15px 12px #F3B04F,
0px 13px #B48844,
1px 13px #B19469,
2px 13px #BB7310,
3px 13px #844F16,
4px 13px #CF914E,
5px 13px #F59639,
6px 13px #F3D2B0,
7px 13px #B16B2C,
8px 13px #F0AF73,
9px 13px #EE7713,
10px 13px #AE7348,
11px 13px #B95415,
12px 13px #CE916A,
13px 13px #91684F,
14px 13px #F18A51,
15px 13px #935434,
0px 14px #CE7449,
1px 14px #A0887D,
2px 14px #F5AE92,
3px 14px #90756A,
4px 14px #AE5332,
5px 14px #EB7449,
6px 14px #B0968C,
7px 14px #E2592B,
8px 14px #ED8F70,
9px 14px #735348,
10px 14px #F8E8E3,
11px 14px #D0B5AD,
12px 14px #5F4641,
13px 14px #F6D3CF,
14px 14px #7C6866,
15px 14px #C1A8A6,
0px 15px #783430,
1px 15px #8B514E,
2px 15px #F2514D,
3px 15px #D14F4A,
4px 15px #F5918E,
5px 15px #F6B1AF,
6px 15px #EB2C2C,
7px 15px #B1302E,
8px 15px #B15151,
9px 15px #E1C8C8,
10px 15px #787878,
11px 15px #686868,
12px 15px #383838,
13px 15px #282828,
14px 15px #070707,
15px 15px rgba(255, 255, 255, 0);
}
